*{
    margin: 0;
    padding: 0;
}

.top{
    display: flex;
    width: 40%;
    margin-top: 80px;
    margin-left: 80px;
    border: 1px solid red;
    gap: 30px;
    font-size: smaller;
}

.top h2{
    padding-bottom: 10px;
}